<!-- begin botlogo.html file -->

<!-- Note: The opening tags for this page, including the closing tags for the table, are located in the toplogo.html page. -->

</td>
</tr>

  <tr>
    <td id="Footer">
	&copy; 2015 Los Rios Community College District
	</td>
  </tr>
</table>

</div>


<script type="text/javascript">
document.domain = 'losrios.edu';

</script>


<!-- Note: The closing tags for body and html will automatically be inserted into the botlogo.html.  -->

<!-- end botlogo.html file -->
