<!-- 2006LE Version, set from 26 January, 2006 -->
<!-- This file last changed: 28 June, 2004 -->
<tr class="briefCitRow">
<td>
<table width="100%">
<tr>
<td align="center" valign="top" width="10%">
<b>
<!--{entrynum}-->
</b>
</td>
<td align="left" valign="top" colspan="4" width="90%">
<!--{authdata}-->



</td>
</tr>
</table>
</td>
</tr>
