<!-- 2006LE Version, set from 26 January, 2006 -->
<!-- This file last changed: 18 May, 2005 -->
<tr class="briefCitRow">
<td>
<table width="100%">
<tr>
<td><span class="briefcitTitle">
<!--{linkfieldspec:VeT}-->
</span></td>
<td width="5%">
<!--{toresourcerecord}-->
</td>
</tr>
<tr>
<td colspan="2">
<!--{fieldspec:Vee}-->
</td>
</tr>
<tr>
<td colspan="2">
<!--{fieldspec:Vef}-->
</td>
</tr>
<tr>
<td colspan="2">
<!--{fieldspec:Vek}-->

<p>
<h2>breifcit_resource</h2>


</td>
</tr>
</table>
</td>
</tr>
