<tr class="briefCitRow">
<td>


<table width="720" id="BrowseRecord" align="center">
<tr>
<td rowspan="2" align="center" valign="top" class="briefcitResultInfo">
<b>
<!--{entrynum}-->
</b>
</td>
<td width="120" rowspan="2" align="left" valign="top" class="briefcitExtras">
Save record:
<!--{mark}-->
<br />
<br />


<!--{bookjacket}-->
	

</td>
<td width="400" align="left" valign="top" class="briefcitDetail">
<!--{nohitmsg}-->
<span class="briefcitTitle">
<!--{linkfieldspec:VbT}-->
</span>
<!--{fieldspec:Vba}-->
<br />
<span class="briefcitDetail">
<!--{fieldspec:Vbp}-->
<br />
<span class="briefcitStatus">
<!-- Note: removed {holdingsmsg}-->

<br />
<!--{holds}-->
</span>
</span>

</td>
<td align="center" valign="top" class="briefcitActions">
<!--{request}-->
</td>
<td align="center" valign="top" class="briefcitActions">
<!--{media}-->
<br />
<!--{avsrelevance}-->




</td>
</tr>
<tr>
  <td colspan="3" align="left" valign="top" class="briefcitDetail">
  
<span class="briefcitItems">
<!--{items}-->
</span>

<div id="e-resource" align="center"> 
<!--{856link}-->
<!--{ifmulti856}-->
&nbsp;
<!--{more856}-->
<!--{xif}-->
<!--{962link}-->
<!--{ifmulti962}-->
&nbsp;
<!--{more962}-->
<!--{xif}-->
</div>
  
  
  
  </td>
  </tr>
</table>



</td>
</tr>
