<!-- 2006LE Version, set from 26 January, 2006 -->
<!-- This file last changed: 19 May 2005 -->
<!--Beginning main page content-->
<!-- This table is used to create consistent look & feel with main pages of the Web OPAC. Top and bottom logos & navigation are not included in pop-up windows. -->
<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td  class="pageNavArea">&nbsp;</td>
</tr>
</table>
<div class="popupForm">
<!--{formbegin}-->
<span class="errormessage">
<!--{error_msg}-->
</span>
<br />
<span class="msg">
<!--{declined_msg}-->
</span>
<!-- Main Page Table containing "left" and "right" tables to standardize presentation of Donation and Payment info. -->
<table width="90%" border="0" align="center">
<tr>
<td valign="top" width="50%">
<!-- Begin left table; contains Donation Information -->
<table width="100%" border="0" align="left">
<tr>
<td colspan="2" align="left" class="patFuncTitle">
Donation:
</td>
</tr>
<tr>
<td>Amount:
</td>
<td align="left">
<!--{amount}-->
</td>
</tr>
<tr>
<td colspan="2">
Thank you for donating to the library. Please fill in a donation amount above and your payment information at the right.
</td>
</tr>
</table>
<!-- end left table -->
</td>
<!-- space delimeter between tables -->
<td width="10"></td>
<td>
<!-- Begin right table; contains Patron Payment Information -->
<table width="100%" border="0" align="left">
<tr>
<td colspan="2" align="left" class="patFuncTitle">
Billing Information:
</td>
</tr>
<tr>
<td align="right">Name:</td>
<td align="left">
<!--{name}-->
</td>
</tr>
<tr>
<td align="right">Address:</td>
<td align="left">
<!--{address1}-->
</td>
</tr>
<tr>
<td align="right">City:</td>
<td align="left">
<!--{city}-->
</td>
</tr>
<tr>
<td align="right">State:</td>
<td align="left">
<!--{state}-->
</td>
</tr>
<tr>
<td align="right">Zip Code:</td>
<td align="left">
<!--{zip}-->
</td>
</tr>
<!--Uncomment this token if you would like to collect this information from donors.
<tr>
<td align="right">Phone:</td>
<td align="left">
<!--{phone}-->
</td>
</tr>
//end of phone comment. -->
<tr>
<td align="right">Email:</td>
<td align="left">
<!--{emailaddr}-->
</td>
</tr>
<tr>
<td colspan="2" align="left" class="patFuncTitle">
Credit Card Information:
</td>
</tr>
<tr>
<td align="right">Card number:</td>
<td align="left">
<!--{ccnum}-->
</td>
</tr>
<tr>
<td align="right">Expiration:</td>
<td align="left">
<!--{ccexpmonth}-->
/
<!--{ccexpyear}-->
</td>
</tr>
<tr>
<td align="right">Security Code:</td>
<td align="left">
<!--{cc_cvv2}-->
</td>
</tr>
<!--Uncomment this token if you would like to collect this information from dono
rs.
<tr>
<td align="right">Comments:</td>
<td align="left">
<!--{comments}-->
</td>
</tr>
//end of comments comment. -->
<tr>
<td colspan="2" align="center" class="patFuncTitle">
<img src="/screens/csc.gif" width="150" height="54" alt="Security Code" />
</td>
</tr>
<tr>
<td colspan="2" align="center">
<br/>
<!--{continue}-->
&nbsp;&nbsp;&nbsp;
<!--{cancel}-->
</td>
</tr>
</table>
<!-- end right table -->
</td>
</tr>
</table>
<!--{formend}-->
</div>
<!--End of main page content-->
<!-- This table is used to create consistent look & feel with main pages of the Web OPAC. Top and bottom logos & navigation are not included in pop-up windows. -->
<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr valign="middle">
<td align="center" class="pageNavArea">&nbsp;</td>
</tr>
</table>


