<!-- 2006LE Version, set from 26 January, 2006 -->
<!-- This file last changed: 25 May, 2004 -->

<!-- This table is used to create consistent look & feel with main pages of the Web OPAC. Top and bottom logos & navigation are not included in pop-up windows. -->
<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td  class="pageNavArea">&nbsp;</td>
</tr>
</table>

<br />

<!--Beginning main page content-->
<div class="paymentPage">
<h2>Donation Receipt</h2>
<!--{formbegin}-->
<!--{date}-->
<br /><br />
<!--{approved_msg}-->
<br /><br />
Thank you for your donation of
<!--{amount}-->
<br /><br />
Payment made by:
<!--{name}-->
<br />
<!--{address}-->
<!--Uncomment this token if you would like to collect this information from donors.-->
<!--<!--{phone}-->
<!--Uncomment this token if you would like to collect this information from dono
rs.-->
<!-- <br/> -->
<!--<!--{comments}-->
<br />
<br />
Credit card:
<!--{ccnum}-->
&nbsp;
<!--{ccexpmonth}-->
/
<!--{ccexpyear}-->
<br /><br />
Total charged (including service fee, if applicable):
<!--{total}-->
<br /><br />
Please print this page for your records.<br />
<!--{print}-->
&nbsp; &nbsp;
<!--{closewindow}-->
<!--{formend}-->
</div>
<!--End of main page content-->

<br />
<!-- This table is used to create consistent look & feel with main pages of the Web OPAC. Top and bottom logos & navigation are not included in pop-up windows. -->
<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr valign="middle">
<td align="center" class="pageNavArea">&nbsp;</td>
</tr>
</table>

