body {
background-color:white;
}

.bodytext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.subtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-color: #DDF5FF;
	line-height: normal;
	font-weight: bold;
}
.tablelabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000066;
	font-weight: bold;

}
.title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-variant: normal;
	text-transform: uppercase;

}
