body {background-color:#fff !important;}
#Footer {display:none !important;}
#OuterTable {border:none !important; width:100% !important;}
#start-over {display:none !important;}
.bibItems, #req-form-container table {border-collapse: collapse !important; border:1px solid #ccc !important; margin:1em 0;}
.bibItemsHeader {background: #4D6684 !important; text-align:left !important; padding-left:1em !important;}


.bibItemsEntry {background: #F5F5F5 !important; border-top: 1px solid #ccc;}
.bibItemsEntry td {cursor:default;}
.bibItemsEntry:nth-child(even) {background: #fff !important;}
.selectable:hover, .selectable:focus {background:#ddd !important;}
.selected td {font-weight:bold;}
#req-form-container input[type="submit"] {
    
 padding: 5px 10px 5px 24px;
 margin: 5px 3px;
 color: #424242;
 font-size: 1.167em;
font-weight: bold;
 text-decoration: none!important;

background-color: #f9ce5a!important;
background: -moz-linear-gradient(top,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,.6)),color-stop(100%,rgba(255,255,255,0)));
background: -webkit-linear-gradient(top,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100%);
background: -ms-linear-gradient(top,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100%);
background: linear-gradient(to bottom,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100%);
background-image: url(//www.library.losrios.edu/resources/link-icons/check-smallblack.png);
background-repeat:no-repeat;
background-position: 4px center;
border: 1px solid #f3bc24;
border-radius: 3px;
clear: both;
cursor: pointer;


}
#req-form-container input[type="submit"]:hover, #req-form-container input[type="submit"]:focus {
color: #424242;
 background-color: #f3bc24!important;
 background: -moz-linear-gradient(top,rgba(255,255,255,.2) 0,rgba(255,255,255,0) 100%);
 background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,.2)),color-stop(100%,rgba(255,255,255,0)));
 background: -webkit-linear-gradient(top,rgba(255,255,255,.2) 0,rgba(255,255,255,0) 100%);
 background: -ms-linear-gradient(top,rgba(255,255,255,.2) 0,rgba(255,255,255,0) 100%);
 background: linear-gradient(to bottom,rgba(255,255,255,.2) 0,rgba(255,255,255,0) 100%);
 border-color: #f3bc24!important;
 background-image: url(//www.library.losrios.edu/resources/link-icons/check-smallblack.png);
background-repeat:no-repeat;
background-position: 4px center;

}