<!-- 2006LE Version, set from 26 January, 2006 -->
<!-- This file last changed: 17 May 2005 -->
<!-- This table is used to create consistent look & feel with main pages of the Web OPAC. Top and bottom logos & navigation are not included in pop-up windows. -->
<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td  class="pageNavArea">&nbsp;</td>
</tr>
</table>
<br />
<!--Beginning main page content-->
<div class="main pageMainArea">
<span class="pageMainAreaHeader">Modify Patron Information</span>
<span class="popupForm">
<!--{formbegin}-->
<!--{newpinfo}-->
<br />
<!--{addr1prompt}-->
<br />
<!--{addr1a}-->
<br />
<!--{addr1b}-->
<br />
<!--{addr1c}-->
<br />
<!--{addr1d}-->
<br />
<!--{phone1prompt}-->
<br />
<!--{phone1}-->
<br />
<!--{phone2prompt}-->
<br />
<!--{phone2}-->
<br />
<!--{emailprompt}-->
<br />
<!--{email}-->
<br />
<!--{notices}-->
<br />
<span class="button">
<!--{submit}-->
<!--{cancel}-->
</span>
<br />
<!--{formend}-->
</span>
</div>
<!--End of main page content-->
<br />
<!-- This table is used to create consistent look & feel with main pages of the Web OPAC. Top and bottom logos & navigation are not included in pop-up windows. -->
<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr valign="middle">
<td align="center" class="pageNavArea">&nbsp;</td>
</tr>
</table>
</body>
</html>
