<!-- 2006LE Version, set from 26 January, 2006 -->
<!-- This file last changed: 26 September, 2005 -->
<!-- This table is used to create consistent look & feel with main pages of the Web OPAC. Top and bottom logos & navigation are not included in pop-up windows. -->
<div class="ddd" id="ddd" style="border: 1px solid #000000; background-color: #ffff00; padding: 5px;">
			<p>The &quot;Modify PIN&quot; (i.e., &quot;password&quot;) feature is no longer supported. The library system now uses Los Rios unified authentication. Therefore, users must use their Los Rios unified system password. Students, faculty, and staff can perform a variety of unified password maintenance tasks using the Los Rios <a href="https://www.losrios.edu/psms/psms.php?choice=contents"> Password Security Management System</a>. </p>
			</div>
		
		
		<p align="center">&copy; 2009 Los Rios Community College District</p>
</body>
</html>
