<!-- 2006LE Version, set from 26 January, 2006 -->
<!-- This file last changed: 2016 -->
<script type="text/javascript">
    (function() {
        var a = document.createElement('meta');
        a.setAttribute('name','viewport');
        a.setAttribute('content', 'width=device-width, initial-scale=1');
        document.getElementsByTagName('head')[0].appendChild(a);
        })();
</script>
<style type="text/css">
@import 'https://www.library.losrios.edu/resources/databases/style.css';
.category {padding:0 0 20px 0 !important;}
.category div {padding:0 20px;}
#innercontainer {margin-left:20px;}
.errormessage, .msg {display:none;}
.fine-prompt {clear:both; float:left;}
#totalFines, #totalFees {float:right; padding:0;}
#fines-area {width: 80%; max-width: 20em; border: 1px solid #ccc; display: table; margin: 10px auto; padding: 2em 1em;}
#form-inputs {clear:both; position:relative; top:10px;}
#cancel-form, #show-all {float:right;}
#cancel-form button {cursor:pointer;}
 @media screen and (max-width:1100px) {
    #main {margin-left:100px;}
 }
</style> 
<div id="main" >



<div class="category active">
<!--{formbegin}-->

<div class="errormessage">
<!--{error_msg}-->
</div>
<div class="msg">
<!--{declined_msg}-->
</div>

<script type="text/javascript">
    (function() {
        var a = document.querySelector('.errormessage, .msg');
    if (a.textContent.match(/\w/) !== null) {
        a.setAttribute('style', 'display:block !important;');
    }
    })();
</script>


<!-- Fines Information -->

<h2>
Fees/Fines
</h2>
<div id="innercontainer">
    <p class="lead explanation">All payments are final. If you have questions about your fines, please contact the library <em>before</em> you pay.</p>
<div>
<!--{clearall}-->

<!--{selectall}-->
</div>


<!--{finestable}-->
</div>

<div id="fines-area">


<div>
<div id="total-fines-prompt" class="fine-prompt">

<!--{totalfinesprompt}-->
:
</div>


<!--{amount}-->
</div>
<div>
 <div id="total-paid-prompt" class="fine-prompt">
    
TOTAL:
</div>


<!--{total}-->

<!--{recalc}-->
  </div>









 
<div id="form-inputs">
    
    <input type="submit" name="" value="Continue" id="show-all" />

                         </div>

</div>
<!--{formend}-->
</div>
<div id="cancel-form">
	<button class="lr-button" type="button" onclick="window.close();">Cancel</button>
</div>
</div>
</div>
<script type="text/javascript">
	(function()
	{
		var a = document.querySelectorAll('#innercontainer a');
		for (var i = 0; i < a.length; i++)
		{
			a[i].setAttribute('class', 'lr-button');

		}
	}());
	
	
</script>
<!--End of main page content-->



