<!-- 2006LE Version, set from 26 January, 2006 -->
<!-- This file last changed: 25 May 2005 -->
<!-- This table is used to create consistent look & feel with main pages of the Web OPAC. Top and bottom logos & navigation are not included in pop-up windows. -->
<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td  class="pageNavArea">&nbsp;</td>
</tr>
</table>
<!--Beginning main page content-->
<div class="popupForm">
<h2>Payment Receipt</h2>
<!--{formbegin}-->
<!--{date}-->
<br /><br />
<!--{approved_msg}-->
<br /><br />
Thank you for your payment of
<!--{total}-->
 for the following charges:<br />
<!--{finestableprompt}-->
<br />
<!--{finestable}-->
<!--{totalfinesprompt}-->
:
<!--{amount}-->
<br />
<!-- uncomment this section if you do want to charge a service charge.
<!--{servicechargeprompt}-->
:
<!--{servicecharge}-->
<br />
//end of service charge comment. -->
TOTAL :
<!--{total}-->
</span>
<br /><br />
Payment made by:
<!--{name}-->
<br />
<!--{address}-->
<br />
<br />
Credit card:
<!--{ccnum}-->
&nbsp;
<!--{ccexpmonth}-->
/
<!--{ccexpyear}-->
<br /><br />
Please print this page for your records.<br />
<!--{print}-->
&nbsp; &nbsp;
<!--{closewindow}-->
&nbsp; &nbsp;
<!--{formend}-->
</div>
<!--End of main page content-->
<!-- This table is used to create consistent look & feel with main pages of the Web OPAC. Top and bottom logos & navigation are not included in pop-up windows. -->
<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr valign="middle">
<td align="center" class="pageNavArea">&nbsp;</td>
</tr>
</table>

