<!-- 2006LE Version, set from 26 January, 2006 -->
<!-- This file last changed: 26 September, 2005 -->

<!--{toplogo}-->

<!--Begin the main content table-->
<table width="90%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr valign="top" class="pageMainArea">
<td class="pageMainArea">&nbsp;
<!--Beginning main page content-->

<span class="pageMainAreaHeader">My Record Login</span>
<br />
<form name="patform" method="POST">
<!--{iferrmsg}-->
<br />
<span class="errormessage">
<!--{iferrmsgisPIN}-->
<!--{newpinmsg}-->
<!--{else}-->
<!--{errmsg}-->
<!--{xif}-->
<br /><br />
<!--{xif}-->
</span>

<!--{ifextpat}-->
<table border="0" width="80%" class="loginarea">
<tr>
<td valign="top">
<div id="extpat">
<strong>Login with campus identification:</strong>
<br />
Your Campus ID#:&nbsp; &nbsp;
<!--{extpatid}-->
<br />
Your Password:&nbsp; &nbsp;
<!--{extpatpw}-->
</div>
</td>
<td valign="top">
<div id="libpat">
<strong>or login with library identification:</strong><br />
<!--{ifneedpatronname}-->
<!--{nameprompt}-->
&nbsp; &nbsp;
<!--{name}-->
<br />
<!--{xif}-->
<!--{ifneedpatronverify}-->
<!--{barcodeprompt}-->
&nbsp; &nbsp;
<!--{barcode}-->
<br />
<!--{ifneedspin}-->
<!--{iferrmsgisPIN}-->
<!--{newpinmsg}-->
<br />
<!--{pin1prompt}-->
&nbsp; &nbsp;
<!--{pin1}-->
<br />
<!--{pin2prompt}-->
&nbsp; &nbsp;
<!--{pin2}-->
<!--{else}-->
<!--{pinprompt}-->
&nbsp; &nbsp;
<!--{pin}-->
<br />
<!--{xif}-->
<!--{xif}-->
<!--{xif}-->
</div>
</td>
</tr>
</table>
<!--{else}-->
<!-- used if external patron authentication is unavailable -->
<!--{enterinfo}-->
<table width="100%">
<!--{ifneedpatronname}-->
<tr>
<td width="30%">&nbsp;

</td>
<td>
<span class="helpNote">
<!--{nameexample}-->
</span>
</td>
</tr>
<tr>
<td>
<!--{nameprompt}-->
</td>
<td>
<!--{name}-->
</td>
</tr>
<!--{xif}-->
<!--{ifneedpatronverify}-->
<tr>
<td>&nbsp;

</td>
<td>
<span class="helpNote">
<!--{barcodeexample}-->
</span>
</td>
</tr>
<tr>
<td>
<!--{barcodeprompt}-->
</td>
<td>
<!--{barcode}-->
</td>
</tr>
<!--{ifneedspin}-->
<!--{iferrmsgisPIN}-->
<tr>
<td colspan="2">
<!--{newpinmsg}-->
</td>
</tr>
<tr>
<td>
<!--{pin1prompt}-->
</td>
<td>
<!--{pin1}-->
</td>
</tr>
<tr>
<td>
<!--{pin2prompt}-->
</td>
<td>
<!--{pin2}-->
</td>
</tr>
<!--{else}-->
<tr>
<td>&nbsp;

</td>
<td>
<span class="helpNote">
<!--{pininstructions}-->
</span>
</td>
</tr>
<tr>
<td>
<!--{pinprompt}-->
</td>
<td>
<!--{pin}-->
</td>
</tr>
<!--{xif}-->
<!--{xif}-->
<!--{xif}-->
</table>
<br />
<!--{xif}-->
<!--{submit}-->
</form>

<div align="left">
<!--{startover}-->
</div>
<!--End of main page content-->
</td>
</tr>
</table>
<!--End the main content table-->

<!--{botlogo}-->
</body>
<p align="center">&copy; 2010 Los Rios Community College District</p>
</html>
