<!--{toplogo}-->
<!-- pverify3_web.html This page is used for the Request Verification Form (i.e., patron book requests) -->
<div id="req-form-container">
	<h1>Request Form</h1>
	<div id="start-over">
<!--{startover}-->
	</div>
	<div id="req-msg">
<!--{reqmsg}-->
	</div>

<!--{iferrmsg}-->
	<div class="errormessage">
<!--{iferrmsgisPIN}-->
<!--{newpinmsg}-->
<!--{else}-->
		<p>Your request attempt was unsuccessful. Please check that you are entering your correct Los Rios username and password and try again.</p>
<!--{xif}-->
	</div>
<!--{xif}-->
<!--{ifextpat}-->
	<form method="post" id="lr-sign-in" accept-charset="utf-8">
		<!-- Start: Form containing patron authentication form fields and login instructions -->
		<fieldset id="login-fields">
			<legend>Your Los Rios Login</legend>
			<div id="ua-text-fields">
				<div id="id-container" class="ua-container">
					<label for="extpatid">Username</label>
					<button type="button" class="show-help" title="About usernames" onclick="showHelp('un-help');" tabindex="22">?</button>
					<input name="extpatid" id="extpatid" type="text" class=""  />
				</div>
				<div id="pw-container" class="ua-container">
					<label for="extpatpw">Password</label>
					<button type="button" class="show-help" title="About passwords" onclick="showHelp('pw-help');" tabindex="23">?</button>
					<input name="extpatpw" id="extpatpw" type="password" class="" />
				</div>
			</div>
			<div class="ua-help-area">
				<p class="ua-help">Your Los Rios Login is the same login you use for eServices, Canvas, and Los Rios Gmail.</p>
				<div id="un-help" class="highlighted ua-help hidden" >
					<h2 class="hidden">Username</h2>
					<p>Your username is the letter <strong>w</strong> followed by your Student ID number or Employee ID number.</p>
					<p>Students: If you do not know your Student ID number, you can <a target="_top" href="https://losrios.edu/admissions/get-started-and-apply/student-id-lookup">look it up</a>.</p>
				</div>
				<div id="pw-help" class="highlighted ua-help hidden">
					<h2 class="hidden">Password</h2>
					<p>Your password is your Los Rios unified password (same as eServices, Canvas, Los Rios Gmail).</p>
					<p>Having trouble logging in? Has your password expired? Forgot your password? Reset it at the <a target="_top" href="https://losrios.edu/admissions/get-started-and-apply/password-management">Los Rios Password Management page</a>.</p>
				</div>
			</div>
		</fieldset>
			<!-- Start: Radio buttons for locations -->
		<fieldset id="loc-container">
			<legend>Pickup Location</legend>
			<div class="ua-help-area">
				<div id="loc-help" class="ua-help">
					<p>Choose the location where you will pick up the item.</p>
				</div>
				<div id="chosen-loc" class="ua-help hidden">
				</div>
				</div>
				<div id="loc-fields">
					<input type="hidden" name="loc" value="--" class="" />
					<input name="loc" type="radio" value="ac " id="arc-loc" class="" />
					<label for="arc-loc"><abbr title="American River College">ARC</abbr> Main Campus</label>
					<input name="loc" type="radio" value="acnat" id="arcnat-loc" class="loc-center"  />
					<label for="arcnat-loc"><abbr title="American River College">ARC</abbr> Natomas Center</label>
					<input name="loc" type="radio" value="cc " id="crc-loc" class="" />
					<label for="crc-loc"><abbr title="Cosumnes River College">CRC</abbr> Main Campus</label>
					<input name="loc" type="radio" value="ccbkt" id="crceg-loc" class="loc-center" />
					<label for="crceg-loc"><abbr title="Cosumnes River College">CRC</abbr> Elk Grove Center</label>
					<input name="loc" type="radio" value="fc " id="flc-loc" class="" />
					<label for="flc-loc"><abbr title="Folsom Lake College">FLC</abbr> Main Campus</label>
					<input name="loc" type="radio" value="ec " id="edc-loc" class="" />
					<label for="edc-loc"><abbr title="Folsom Lake College">FLC</abbr> El Dorado Center</label>
					<input name="loc" type="radio" value="sc " id="scc-loc" class=""  />
					<label for="scc-loc"><abbr title="Sacramento City College">SCC</abbr> Main Campus</label>
					<input name="loc" type="radio" value="sodav" id="sccdv-loc" class="loc-center"  />
					<label for="sccdv-loc"><abbr title="Sacramento City College">SCC</abbr> Davis Center</label>
					<input name="loc" type="radio" value="sowsa" id="sccws-loc" class="loc-center"  />
					<label for="sccws-loc"><abbr title="Sacramento City College">SCC</abbr> West <abbr title="Sacramento">Sac</abbr> Center</label>
				</div>
			</fieldset>
						<!-- End: Radio buttons for locations -->

<!--{xif}-->
			<div class="hidden">
<!--{ifneedNNA}-->
<!--{needbyprompt}-->
				
<!--{needby}-->
			</div>
<!--{xif}-->

<!--{xif}-->
		<input type="submit" name="btnsubmit" value="Submit" class="" />
	</form>
</div>


<script  type="text/javascript" src="screens/login-validate.min.js">

</script>
<!-- <script type="text/javascript" src="screens/pverify3_web.js">
</script> -->
<script type="text/javascript" src="screens/pverify3_web.min.js">
</script>

<!--{botlogo}-->
</body>
</html>