<!--{toplogo}-->


<!-- pverify3_web.html -- Page used for patron book request. -->

<table width="95%" align="center">
<tr>
<td>
  <div align="center">
    <h3><strong>My Record Login </strong></h3>
  </div></td>
</tr>
<tr>
  <td>

 <div align="center">
<!--{startover}-->  
 </div></td>
</tr>
<tr>
  <td>    <p>Enter the required information below to view your library record. See the <a href="#MyRecordUse">My Record Use</a> in the help section below for more information about what you can  do after you have logged into &quot;My Record.&quot; <br>
    <br>
  </p>
    </td>
</tr>

<tr>
<td>

<!--{reqmsg}-->

<form METHOD=POST>
<font COLOR=RED size= 2><EM>
<!--{iferrmsg}-->
<!--{iferrmsgisPIN}-->
<!--{newpinmsg}-->
</EM></font>
<p>
See Help section on <a href="#ErrorMessages">Error Messages (i.e., Problems Logging In)</a> for more information.
<!--{else}-->
<!--{errmsg}-->
</EM></font>
<p>
See Help section on <a href="#ErrorMessages">Error Messages (i.e., Problems Logging In)</a> for more information.
<!--{xif}-->
</EM></font><BR><BR>
<!--{xif}-->
</EM></font>
<!--{ifrequestmoney}-->
<font size= 1 COLOR=RED>
<!--{requestmoney}-->
</font><BR><BR>
<!--{xif}-->
<!--{VOID: enterinfo}-->
</EM></font>
<table WIDTH=100% align="center" cellpadding="2">
<!--{ifneedpatronname}-->
<tr><TD></td><td>&nbsp;<font size=-1>
<!--{nameexample}-->
</font></td></tr><tr><td>
<!--{nameprompt}-->
</td><td>&nbsp;
<!--{name}-->
</td></tr>
<!--{xif}-->
<!--{ifneedpatronverify}-->


<tr bgcolor="#CCCCCC">
<td><strong>Step 1 of 3: Barcode number <span style="color: #FF0000">(required)</span>:</strong> </td>
<td><strong>Barcode number instructions</strong>: 
</td>
</tr>
<tr>
<td valign="middle"><p><font size=-1>
<!--{barcode}-->
</font></p>
  </td>
<td valign="top"><p><font size=-1><strong><br>
  Students</strong>: Your barcode is located on your Student Access Card.</font></p>
  <p><font size=-1><strong>Faculty/Staff</strong>: Your barcode is provided to you when you activate your employee ID as a library card. </font></p>  </td>
</tr>
<tr><td><font size=-1>&nbsp;
</font>

</td>
  <td>&nbsp;</td>
</tr>

<tr bgcolor="#CCCCCC">
<td><strong>Step 2 of 3: PIN (password) <span style="color: #FF0000">(required)</span>:</strong> </td>
<td><strong>PIN (password) instructions: </strong> </td>
</tr>

<tr>
<TD>
<!--{ifneedspin}-->
<!--{iferrmsgisPIN}-->
<!--{VOID: newpinmsg}-->
<p>Please create a new PIN (i.e., password).  </p>
<p><font color="#FF0000"><strong>Important</strong></font>: Your new PIN must contain at least 6 characters, no spaces, or trivial patterns.  See the <em>New PIN requirements</em> in the <a href="#PINPassword">PIN (i.e., Password)</a> help section below for more information. </p>
<p>

<!--{VOID: pin1prompt}-->
Enter your new PIN:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!--{pin1}-->
<br>
<!--{VOID: pin2prompt}-->
Enter your new PIN again:
&nbsp;
<!--{pin2}-->
<p>

<!--{else}-->
<!--{pin}-->
<!--{xif}-->
<!--{xif}-->
<!--{xif}-->
&nbsp;
</td>

<td valign="top"><p><font size=-1>
  <!--{VOID: pininstructions}-->
  <strong><br>
  Students</strong>: Your default PIN is your date of birth in the following format: YYYYMMDD</font></p>
  <p><font size=-1>        <strong>Faculty/Staff</strong>:  Faculty and staff do not have a default PIN. If you have not already established a PIN, please refer to the <a href="#PINPassword">PIN (i.e., Password)</a> help section below for more information.</font></p></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
</tr>
<tr bgcolor="#CCCCCC">
  <td><strong>Step 3 of 3: Submit  <span style="color: #FF0000">(required)</span>:</strong></td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td align="center" valign="middle">
  <br />
<!--{submit}-->  
  &nbsp;</td>
  <td valign="top"><br>
    Click on the Submit button to login. </td>
</tr>


</table>
<br>


<!-- Note: Default tokens used to place drop down menu with locations selection was replaced with radio buttons HTML code. -->








</FORM>

</td>
</tr>

<tr>
<td>

<table width="90%"  border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td align="left">
			  
	  
			  
			  
			  
			  
			  </td>
            </tr>
            <tr>
              <td align="center">

			  </td>
            </tr>
            <tr>
              <td align="left"><hr />                <strong>My Record Help </strong>
                <ul>
                  <li><a href="#MyRecordUse">My Record Use</a> </li>
                  <li><a href="#BarcodeNumber">Barcode Number</a> </li>
                  <li> <a href="#PINPassword">PIN (i.e., Password)</a></li>
                  <li><a href="#ErrorMessages">Error Messages (i.e., Problems Logging In) </a></li>
                  <li> <a href="#OnlineRenewal">Online Renewal</a></li>
                  <li> <a href="#TypesofRequests">Types of Requests</a></li>
                </ul>
                <hr />
                <strong><a name="MyRecordUse" id="MyRecordUse"></a>My Record Use</strong>
                <p>Some of the things you can do after you have logged into &quot;My Record&quot; include:</p>
                <ul>
                  <li>See what items you currently have checked out. </li>
                  <li> Confirm when the items on your account are due. </li>
                  <li> Renew your items, if they are eligible for renewal. </li>
                  <li> See what fines you owe. </li>
                  <li> Place holds on items that are checked out. </li>
                  <li> Review which items you have placed on hold. </li>
                  <li> Find out if any items on your account have been recalled or placed on hold. </li>
                  <li> Change your PIN. </li>
                </ul>
                <p> <strong>Note</strong>: The same login procedure, including barcode and password, are used to login to the subscription <a href="http://lois.losrios.edu/screens/research_databases.html">research databases</a> from off-campus. </p>
                <hr />
                <strong><a name="BarcodeNumber" id="BarcodeNumber"></a>Barcode Number </strong>
                <p><strong>Students</strong>: This number is located on the front of your Student Access Card. Do not use spaces when entering this number into the system. <strong>Note:</strong> If you do not have a Student Access Card you will need to obtain one at your campus. More information about the Student Access Card, including where they maybe be obtained, is available online at the <a href="http://www.losrios.edu/lrc/lrc_sacard.htm">Los Rios web site</a>. </p>
                <p><strong>Faculty/Staff</strong>: Your library barcode number contains 14 digits and is provided to you when you activate your employee ID card for library use. If you have not activated your employee ID for library use, you will need to visit the circulation desk at your campus library. If you have any questions, please call the library circulation desk at your campus: </p>
                <ul>
                  <li>ARC: 484-8455 </li>
                  <li>CRC: 691-7266</li>
                  <li>EDC: 642-5695 </li>
                  <li>FLC: 608-6613</li>
                  <li>SCC: 558-2301</li>
                </ul>
                <hr />
                <strong><a name="PINPassword" id="PINPassword"></a>PIN (i.e., Password)</strong>
                <p><strong>General information:</strong> A PIN is a personal identification number which allows you to verify your identity when accessing the Los Rios Libraries system. </p>
                <p><strong>Note:</strong> Library PINs are independent from those used for the Blackboard and E-Services (i.e., college registration) systems. Even if you already have PIN for one of these system, you will still need to use your default library system system PIN.</p>
                <p><strong>Default PIN: </strong></p>
                <ul>
                  <li><strong>Students </strong><em>- </em> Your default Library Personal Identification Number (PIN) is your <strong>birth date</strong>, in the following format: <strong>YYYYMMDD</strong>. Once you have entered your default PIN (your birth date), you may continue to use your birth date as your PIN or you may change your PIN (see below). </li>
                  <li><strong>Faculty/Staff</strong> - Faculty and staff do not have a default PIN. If you have not activated your employee ID for library use, you will need to visit the circulation desk at your campus library. At that time you may ask the circulation staff to create a PIN for you. If you already have an an employee ID card that has been activated for library use but have not already created a PIN, you may create a PIN the first time you use the My Record or Request features. To create a PIN you will need to follow the <em>New PIN requirements</em> guideliness described below. </li>
                </ul>
                <p><strong>New PIN requirements</strong>: If you create a new PIN or modify an existing PIN it must satisfy the following requirements in order to be valid:</p>
                <ul>
                  <li>Contain at least 6 characters</li>
                  <li> No spaces</li>
                  <li>No trivial patterns - The PIN must not contain common trivial patterns. For instance, a character that is repeated three or more times (for example, aaaa, ababa, bbbb) or a set of up to four characters that is repeated two or more times (for example, abab, abcabc, abcdabcd) will not work. </li>
                </ul>
                <p>It is best to pick something unique that you will remember. If you have trouble creating a new PIN and would like to have it reset to your date of birth you will need to contact the circulation desk at your campus library. </p>
                <p><strong>Changing your PIN:</strong> Follow the steps below to change your current PIN.</p>
                <ol>
                  <li> Entered the barcode number from your Student Access Card and your current PIN.</li>
                  <li>Clicked on the button labeled &quot;Modify Your PIN.&quot; </li>
                  <li>A new window will open. You will see three entry boxes: type your current PIN into first box, then your new PIN into the two times for verification purposes. (Note: See the New PIN Requirements section below for important information about new PINs.) </li>
                  <li>Click &quot;Submit&quot;.</li>
                </ol>
                <p><strong>If You Forget Your PIN: </strong>If you have forgotten your PIN, or if the system does not accept it, you will need to contact the Circulation Desk at your campus library. A library staff member must delete your current PIN. Afterwards you can create a new one by following the above instructions or request that the library reset your PIN using your date of birth.</p>
                <hr />
                <strong><a name="ErrorMessages" id="ErrorMessages"></a>Error Messages (i.e., Problems Logging In) </strong>
                <p><strong>&quot;Sorry, cannot locate patron record&quot;</strong> - If this message appears, try re-typing your barcode number and PIN. If the system still cannot locate your record, call the Circulation Desk at your campus library, and let them know you are unable to login and view your patron record and need assistance.</p>
                <p><strong>&quot;Please enter a Personal Identification Number (PIN)</strong>&quot; - This message appears when your barcode and name are in the library system but there is no password associated with your library record. If you see this message you can either create a new PIN online or contact your library's Circulation Desk to have your PIN reset to your date of birth. If you choose to create a new PIN online, you should consult the <em>New PIN requirements</em> section above. </p>
                <p><strong>&quot;Your pin must be 6 to 30 characters long&quot;</strong> - This error message most often appears if you are creating a new PIN or changing your current PIN and you have entered less than 6 characters. </p>
                <p><strong>&quot;Your pin is not complex enough to be secure&quot;</strong> - The PIN must not contain common trivial patterns. For instance, a character that is repeated three or more times (for example, aaaa, ababa, bbbb) or a set of up to four characters is that is repeated two or more times (for example, abab, abcabc, abcdabcd) will not work. If this message appears you will need to try entering a new PIN that contains a greater mix of different characters. </p>
                <p><strong>&quot;Sorry, the information you submitted was invalid. Please try again&quot;</strong> - This message appears if the barcode and PIN you have entered does not match a specific library user.</p>
                <p><strong>&quot;Please fill in ALL of the below information&quot;</strong> - This message appears if you have not filed in each of the required fields. </p>
                <hr />
                <strong><a name="OnlineRenewal" id="OnlineRenewal"></a>Online Renewal</strong>
                <p>Please note that overdue books (beyond the grace period) cannot be renewed online. If you renew books, always check to be sure that there is a new due date for all of the books you renewed. Overdue books can be renewed by going to the library circulation desk at one of the Los Rios District campus libraries. </p>
                <hr />
                <strong><a name="TypesofRequests" id="TypesofRequests"></a>Types of Requests</strong>
                <p><strong>Inter-library loan requests (i.e. items requested from other campuses)</strong> &ndash; If you request a book from another Los Rios library, you will be notified when item has arrived at your home library and is available for checkout. These items will be held at the circulation desk of your home library for 7 days. </p>
                <p><strong>Hold requests (i.e., requests to hold items at your home campus)</strong> - If you request a book that is currently &ldquo;Available&rdquo; at the campus you are attending, you must come into the library to pick it up at the circulation desk. If you request an item at your home campus that is currently checked out, you will be notified when the item is available and ready for pickup. These items will be held at the circulation desk of your home library for 7 days.</p>
                <p>&nbsp;</p></td>
        </tr>
      </table>


</td>
</tr>



</table>






<!--{botlogo}-->



