.showstate {
	MARGIN-TOP: 2px; FLOAT: left; CURSOR: pointer; MARGIN-RIGHT: 3px
}
.index_cell_empty_left {
	BORDER-RIGHT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
.index_cell_empty_right {
	BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
.index_cell_active_categories_tab {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BORDER-BOTTOM: white 1px solid; HEIGHT: 16pt; BACKGROUND-COLOR: white
}
.index_cell_unactive_alphabet_tab {
	BORDER-TOP: black 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BORDER-BOTTOM: black 1px solid; HEIGHT: 16pt; BACKGROUND-COLOR: #e0e0e0
}
.index_cell_unactive_categoires_tab {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BORDER-BOTTOM: black 1px solid; HEIGHT: 16pt; BACKGROUND-COLOR: #e0e0e0
}
.index_cell_active_alphabet_tab {
	BORDER-TOP: black 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BORDER-BOTTOM: white 1px solid; HEIGHT: 16pt
}
.index_cell_datalist {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; BORDER-LEFT: black 1px solid; PADDING-TOP: 15px; BORDER-BOTTOM: black 1px solid; BACKGROUND-COLOR: white
}
.general_category {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: black 1px solid; PADDING-LEFT: 20px; PADDING-BOTTOM: 10px; BORDER-LEFT: black 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: black 1px solid; BACKGROUND-COLOR: #f8f8f0
}
.dbheader1 {
	BORDER-TOP: black 1px solid; FONT-WEIGHT: bolder; BORDER-LEFT: black 1px solid; COLOR: #ffffff; BORDER-BOTTOM: black 1px solid; BACKGROUND-COLOR: #0066b2
}
.dbheader2 {
	BORDER-TOP: black 1px solid; FONT-WEIGHT: bolder; FONT-SIZE: 10pt; COLOR: #ffffff; BORDER-BOTTOM: black 1px solid; BACKGROUND-COLOR: #0066b2
}
.dbheader3 {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: bolder; FONT-SIZE: 10pt; COLOR: #ffffff; BORDER-BOTTOM: black 1px solid; BACKGROUND-COLOR: #0066b2
}
.title {
	BORDER-TOP: gray 1pt solid; FONT-WEIGHT: bold
}
.description {
	PADDING-LEFT: 30px
}
.db_details_table {
	FONT-WEIGHT: bold; BORDER-BOTTOM: gray 1pt solid
}
