/* ::::: http://lois.losrios.edu/screens/styles.css ::::: */

body { margin: 0pt; padding: 0pt; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; font-style: normal; font-weight: normal; font-size: 13px; color: rgb(0, 0, 0); background-color: rgb(226, 226, 211); background-repeat: repeat-y; background-position: center top; }
div, table { clear: both; }
input, textarea { font-size: 100%; font-weight: bold; }
strong { font-weight: bold; }
td { font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; font-style: normal; font-weight: normal; font-size: 13px; }
a:link { color: rgb(0, 0, 153); }
a:active { color: rgb(153, 51, 153); }
a:visited { color: rgb(153, 51, 153); }
a:hover { color: rgb(153, 51, 153); }
.campuslink:link { font-weight: bold; color: white; text-decoration: underline; }
.campuslink:visited { font-weight: bold; color: white; text-decoration: underline; }
.campuslink:hover { font-weight: bold; color: white; text-decoration: underline; }
#MainContentAreaShadow { width: 750px; height: auto; overflow: hidden; padding: 10px; margin-left: auto; margin-right: auto; }
#OuterTable { border: 1px solid black; background-color: white; }
#Header1 { height: 18px; background: url('lois_header_image.gif') repeat-x scroll left top transparent; border-bottom: 1px solid black; }
#HeaderLibraryWebSiteLinks { position: relative; float: right; left: -5px; top: -1px; width: 280px; height: 12px; text-align: left; font-size: 10px; font-weight: bold; color: white; }
#Header2 { height: 45px; border: 0px solid black; }
#HeaderLogo { background-image: url('lois_logo8.gif'); background-repeat: no-repeat; position: relative; left: 160px; top: 1px; width: 500px; height: 35px; float: left; border: 0px solid black; }
#Header3 { height: 75px; border: 0px solid black; padding-bottom: 5px; }
li#horizontal_menu_first_menu_item { border-left: 1px solid black; position: relative; float: left; }
ul#horizontal_menu { position: relative; float: left; z-index: 2; top: 4px; left: 30px; margin: 0pt; padding: 0pt; list-style-type: none; display: block; text-transform: none; font-size: 13px; font-weight: bold; font-family: Helvetica,Arial,Verdana,sans-serif; }
ul#horizontal_menu li { display: block; float: left; margin: 0pt; padding: 0pt; }
ul#horizontal_menu li a { display: block; float: left; color: white; text-decoration: none; text-align: center; padding: 5px 10px 0px; height: 20px; border-right: 1px solid black; border-top: 1px solid black; border-bottom: 1px solid black; background-color: rgb(33, 117, 188); }
ul#horizontal_menu li a:hover { border-right: 1px solid black; background-color: rgb(37, 134, 215); }
ul#horizontal_menu li a.current, ul#horizontal_menu li a.current:hover { position: relative; color: black; background-color: rgb(108, 170, 217); border-bottom: 2px solid rgb(108, 170, 217); }
#ResourceName { position: relative; z-index: 1; top: 2px; left: 4px; width: 740px; height: 30px; font-size: 18px; font-weight: bold; text-align: center; color: black; border-width: 1px 1px 0px; border-style: solid; border-color: black; float: left; background: none repeat scroll 0% 0% rgb(108, 170, 217); padding-top: 3px; }
#ResourceNameDescription { position: relative; left: 4px; top: 0px; width: 740px; height: 15px; text-align: center; font-size: 10px; font-weight: bold; color: black; border-width: 0px 1px 1px; border-style: solid; border-color: black; background: none repeat scroll 0% 0% rgb(108, 170, 217); float: left; }
#Footer { height: 18px; color: white; text-align: center; background: url('lois_footer_image.gif') repeat-x scroll left top transparent; border-top: 1px solid black; font-size: 10px; font-weight: bold; }
/* ::::: http://www.library.losrios.edu/research_databases/rd_style.css ::::: */

.showstate { cursor: pointer; float: left; margin-top: 2px; margin-right: 3px; }
.index_cell_empty_left { border-bottom: 1px solid black; border-right: 1px solid black; }
.index_cell_empty_right { border-bottom: 1px solid black; border-left: 1px solid black; width: 50px; }
.index_cell_active_categories_tab { border-top: 1px solid black; border-bottom: 1px solid white; border-right: 1px solid black; background-color: white; font-size: 10pt; font-weight: bold; height: 16pt; }
.index_cell_unactive_alphabet_tab { border-top: 1px solid black; border-bottom: 1px solid black; background-color: rgb(224, 224, 224); font-size: 10pt; font-weight: bold; height: 16pt; }
.index_cell_datalist { border-bottom: 1px solid black; border-left: 1px solid black; border-right: 1px solid black; background-color: white; padding: 15px; }
.general_category { border-width: 1px; border-style: solid; border-color: black; background-color: rgb(248, 248, 240); padding: 10px 0px 10px 20px; }
.title { font-weight: bold; border-top: 1pt solid gray; }
.description { padding-left: 30px; }
.db_details_table { font-weight: bold; border-bottom: 1pt solid gray; }
