/*<!-- 2006LE Version, set from 26 January, 2006-->*/
/*<!-- This file last changed: 20 October, 2005 -->*/
/* general appearance */
/* See also Web Option BODYPARAM */

/* Stylesheet to use for dynamic Web pages */
/* is set by Web Option STYLESHEET */

/* COLOR SCHEME (use find & replace to swap colors */
/* very light blue: EBF5FC */
/* light blue: B1D3EC */
/* medium blue: 0066B2 */
/* dark blue: 0132A7 */
/* very dark blue: 162A6D */
/* yellow highlight: F5D9A3 */

/* Section 1 */
/*Global tag styles*/



/*Global changes made to this file:

 ** font-size: 80% change to font-size: 85% (Change date: 9-14-07

*/





body { 
margin: 0; 
padding: 0; 
font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; 
font-style : normal; font-weight : normal; 
font-size: 13px; /* font-size property and value added 9/12/2007 */
color:#000;

background-color:#E2E2D3;
background-repeat: repeat-y;
background-position: top center; 

}



div, table { clear: both; }

/* This rule causes search form elements to resize along with the rest of the text on the page if the user resizes text. */
input, textarea { font-size: 100%; font-weight: bold; } /* Original font-size set at 95%.  Changed on 9-14-07 */

/* This rule causes search form elements to resize along with the rest of the text on the page if the user resizes text. */
select { font-size: 100%; } /* Original font-size set at 95%.  Changed on 9-14-07 */



/* This rule uses CSS2 to give a nicer effect in compliant browsers, while avoiding an annoying display effect in Internet Explorer 6 */
input[type="checkbox"] { background-color: #B1D3EC; }

strong { font-weight: bold; }

td { 
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;  
font-style : normal; font-weight: normal; 
font-size: 13px; /* font-size property and value added 9/12/2007 */
}

th { font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; }

/*traditional link colors are suggested for better usability */
a:link { color: #000099; }
a:active{ color: #993399; }
a:visited { color: #993399;  } 
a:hover  { color: #993399;  } 

A.pageNavAreaText:LINK, A.pageNavAreaText:VISITED {  color: #FFFFFF; text-decoration: none; font-weight: bold; background-color: #2175bc;  }

A.pageNavAreaText:ACTIVE, A.pageNavAreaText:HOVER {  color: #B1D3EC; text-decoration: none; font-weight: bold; background-color: #2175bc;  }




/* Section 2 */
/* named styles listed in alphabetical order */

/*controls display of authority redirect information */
.authorityRedirect { border: 2px solid #0132A7; padding:5px; text-align:center; }

.authPublicNote { font-size: 85%; background: #EBF5FC; } 


/* This is used in the Materials Booking calendar */
.available { font-weight: bold; color: green; }

.availLimMessage { font-style: italic; text-align: left; }


/* classes for bib display */
/* see also Web options TABLEPARAM_BIB... */

.bibBookingsHeader { font-weight: bold; text-decoration: none; padding: 3px; border: 1px solid #2175bc; background: #FFFBC6; }

.bibDetail { }

.bibHoldings { border: 2px solid #2175bc; }

.bibHoldingsEntry { }

.bibHoldingsHeader { }

.bibHoldingsLabel { }

.bibHolds { border: 0px solid #2175bc; }

.bibHoldsEntry { border: 1px solid #2175bc; }

.bibInfo { }

.bibInfoData { 
border-bottom: 1px solid #6CAAD9; 
padding: 3px; 
font-size: 85%; /* Controls font size for bib record. */
}

.bibInfoEntry { }

.bibInfoLabel { width: 15%; font-size: 85%; text-align: right; padding-right: 2em; background-color: white; font-weight: bold;}

.bibItems { border: 1px solid #2175bc; font-size: 85%;}

.bibItemsEntry { color: #000000; background: #B1D3EC; text-align: left; }

.bibItemsEntry a { color: #000000; text-decoration:none; cursor: default;}

.bibItemsHeader { color: #FFFFFF; background: #2175bc; font-weight: bold; text-align: center; }

.bibItemsLabel { }

.bibLicense { }

.bibLicenseEntry { color: #000000; background: #B1D3EC; text-align: left; }

.bibLicenseHeader { color: #FFFFFF; background: #2175bc; font-weight: bold; text-align: left; }

.bibLinks { border: 1px solid #2175bc; }

.bibOrder { border: 1px solid #2175bc; }

.bibOrderEntry { }

.bibPager {
font-size: 85%;
}

.bibRecordLink { font-size:82%; padding-left: 6px; font-style: italic; }

.bibResource { }

.bibResourceBrief { }

.bibResourceCaption { }

.bibResourceEntry td { font-weight: bold; }

.bibResourceHeader { }

.bibResourceLicense td { padding-bottom: 20px; }

.bibResourceLicenseEntry { background: #FFF99D; }

.bibResourceSubEntry { border-bottom: 1px solid blue; background-color: #FFFBC6; font-style: italic; }

.bibResourceTable, .browseResourceTable { border: 1px solid #2175bc; }

.bibResourceTableEntry, .browseResourceTableEntry { color: #000000;  text-align: center; font-weight: bold; }

.bibResourceTableHeader, .browseResourceTableHeader { font-weight: bold; font-size: 85%; background: #B1D3EC; padding: 1px; } 

.bibScreen { }

.bibSearchtool { margin-left: auto; margin-right: auto; border: 1px solid black; background-color: #6caad9; margin: 15px; }

.bibThumbnails { }

.bibTOC { width: 90%; font-size: 90%; margin-left: 30px; border: 1px solid #2175bc; padding: 3px; margin-bottom: 3px; }

.bibTOC td { border-bottom: 1px solid #EBF5FC; }

.bibXML { }


/* control over mainmenu and opacmenu pages layout */
.biglogo { margin-left:17px; width:350px; height:125px}

/* These are used for Materials Self-Booking */
.bookingsConfirmMsg { font-weight: bold; text-decoration: none; padding-bottom: 5px; background: #FFFBC6; }

.bookingsItemsEntry { }

.bookingsItemsHeader { }

.bookingsLegend { }

.bookingsLocation { }

.bookingsRepeat { margin-left: 15px; margin-right: 15px; border: 1px solid #2175bc; padding: 3px; }

.bookingsRepeatNone { }

.bookingsRepeatDaily { }

.bookingsRepeatWeekly {  }

.bookingsRepeatWeeklyDay { margin-left: 30px; }

.bookingsRepeatMonthly {  }

.bookingsEndsOn {  }

.bookingsSelect { width: 90%; margin-left: 5%; margin-bottom: 1em; }

.bookingsSelectCal { width: 90%; margin-left: 5%; text-align: center; background: #EBF5FC; border: 2px solid #2175bc; margin-bottom: 1em; }

.bookingsSelectCal table { margin: auto; border: none; font-size: 95%; } 

.bookingsSelectCal th { text-align: center; border: none; } 

.bookingsSelectCal td { border: 1px solid #2175bc; }

.bookingsSelectEndtime { margin-left: 10px; }

.bookingsSelectRepeat { margin-top: 5px; margin-bottom: 5px; }

.bookingsSelectTime { background: #EBF5FC; border: 2px solid #2175bc; padding: 3px; }

/* Brief Citation display styles */
.briefcitActions { font-size: 85%; text-align: center; }

.briefcitDetail { font-size: 90%; } /* Original font size 80%.  Changed 9/14/07 */

.briefcitDetail img { padding-top: 2px; }

.briefcitExtras { font-size: 85%; text-align: center; white-space: nowrap; }

.briefcitExtras img { padding-bottom: 2px; max-height:120px; }

.briefcitItems em { font-size: 100%; } /* Original font size 85%.  Changed 9/24/07 */

.briefcitItems table { font-size: 12px;}

.briefcitItems td { font-size: 100%; }

.briefcitItems .bibItemsHeader { font-size: 100%; } /* Original font size 80%.  Changed 9/14/07 */

.briefcitResultInfo { text-align: left; font-size: 85%; }

.briefCitRow { color: #000000; background: #FFFFFF; font-weight: normal;  } 

.briefcitStatus { font-weight: bold; }

.briefcitTitle { font-weight: bold; }

.briefcitTitle a:link {color:#0645AD;}      /* blue unvisited link */
.briefcitTitle a:visited {color:#551A8B;}  /* purple visited link */
.briefcitTitle a:hover {color:#0645AD; text-decoration:underline;}  /* blue mouse over link */
.briefcitTitle a:active {color:#EE0000;}  /* red active selected link */





/* classes for browse displays */
/* See also Web options BROWSE_HEADERS, TABLEPARAM_BROWSE..., TABLEPARAM_BRIEFCIT */
.browseEntry { color: #000000; background: white; font-weight: normal; }

.browseEntry td { border-top: 1px black solid; padding-top: 10px; }

.browseEntryData { text-align: left; font-size: 100%;} /* Added font size 9-17-07 */

.browseEntryEntries { text-align: center; font-size: 100%; } /* Added font size 9-17-07 */

.browseEntryMark { font-weight: bold; }

.browseEntryMedia { vertical-align: middle; }

.browseEntryNum { text-align: center; }

.browseEntryRelevance { }

.browseEntryYear {text-align: center; font-size: 100%; } /* Added font size 9-17-07 */

.browseHeader { color: #FFFFFF; background: #2175bc; font-weight: bold; vertical-align: middle; }

.browseHeaderData { color: #FFFFFF; background: #2175bc; font-weight: bold; vertical-align: middle; font-size: 85%}

.browseHeaderEntries { color: #FFFFFF; background: #2175bc; font-weight: bold; vertical-align: middle; }

.browseHeaderMark { color: #FFFFFF; background: #2175bc; font-weight: bold; vertical-align: middle; width: 5%; }

.browseHeaderMedia { color: #FFFFFF; background: #2175bc; font-weight: bold; vertical-align: middle; }

.browseHeaderNum { color: #FFFFFF; background: #2175bc; font-weight: bold; vertical-align: middle; width: 5%; }

.browseHeaderRelevance { color: #FFFFFF; background: #2175bc; font-weight: bold; vertical-align: middle; }

.browseHeaderYear { color: #FFFFFF; background: #2175bc; font-weight: bold; vertical-align: middle; width: 5%; }

.browseList { }

.browsePager { }

.browseResourceTableEntry { color: #000000;  text-align: center; }

.browseResourceTableHeader { font-weight: bold; font-size: 85%; background: #B1D3EC; padding: 1px; }

.browseSaveJump { color: #000000; background: #FFFFFF; text-align: left; }

.browseSaveJump form { display: inline; }

.browseScreen { }

.browseSearchtool { background: #B1D3EC; margin-left: auto; margin-right: auto; margin-bottom: -3px; padding-left: 3px; padding-right: 3px; border: 1px solid #2175bc; }

.browseSearchtoolMessage { position: relative; top: -10px; font-size: 90%; } 

.browseSubEntry { color: #000000; background: #B1D3EC; font-weight: normal;  }

.browseSubEntryData { color: black; background: white; }

/* Is an Entries column ever drawn in Extended browse? */
.browseSubEntryEntries { }

.browseSubEntryMedia { background: white; }

.browseSubEntryRelevance { }

.browseSubEntryYear { color: black; background: white; }

.browseSuperEntry { color: #FFFFFF; background: #2175bc; font-weight: bold;  }

.button { vertical-align: middle; }

/* control over mainmenu and opacmenu pages layout */
#catalog { text-align: left; padding: 20px; padding-top: 1em; margin-bottom: 0px; margin-right: 20px; margin-left:20px; background-color: #B1D3EC; vertical-align: top; font-size: 85%; height:225px}


/* This is used in the Materials Booking calendar */
.closed { font-weight: bold; color: red; }

.errormessage { font-size: 125%; color: #FF0000; }

.errormessage h2 { display:inline; }

/* External Patron Authentication product style */
.extpat div { line-height: 1.66em; width: 90%; background: #EBF5FC; border: 2px solid #2175bc; padding: 3px; margin-left: auto; margin-right: auto; text-align: right; }

/* External Patron Authentication product style */
.extpat strong { display: block; text-align: left; }

/* used for search help pages tabbed navigation */
.fields td { padding: 2px; }


/* This is used in the featured list display */
.ftlistHeader { }

.helpNote { font-size: 90%; font-style: italic; }

.holdingsDivider { border: 2px solid #B1D3EC; margin: -3px; }

.InnovativeCredit {  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 70%; font-style: italic}

/* Used in Related Searches display */
div#instructions { font-size: 90%; font-style: italic; }

.KidsOnline {  font-family: "Comic Sans MS", Verdana, Geneva, Arial, Helvetica, sans-serif; font-weight: bold}

/* External Patron Authentication product style */
.libpat div { line-height: 1.66em; width: 90%; background: #EBF5FC; border: 2px solid #2175bc; padding: 3px; margin-left: auto; margin-right: auto; text-align: right; }

/* External Patron Authentication product style */
.libpat strong { display: block; text-align: left; }


/* Styles used in Limit/Sort Search page - srchmod.html */
.limitEntriesFoundNum { font-size: 90%; font-style: italic; }

.limitEntriesFoundText { font-size: 90%; font-style: italic; }

.limitSearchTerm { font-size: 90%; font-weight: bold; }

.limitSearchTypeText { font-size: 90%; }

.limitSearchTypeIndex { font-size: 90%; }


.loggedInMessage {	padding-left: 1px; font-style: italic; color: red; font-size: 90%; }

/* External Patron Authentication product styles */
.loginarea { }

.main { margin-left: 20px; margin-right: 20px; }

/* used for search help pages tabbed navigation */
#main {margin-left:100px; margin-right:15px; font-size:90%}

#main a:link { color: #2175bc; }

#main a:hover { text-decoration: underline; }

#main a:visited { color: #0132A7;  } 
#main div {padding-top:.2em}
#main .tabs a:link, #main .tabs a:visited { color: #000; text-decoration: none; }
#main .tabs a:hover { text-decoration: underline; }

/* control over mainmenu and opacmenu pages layout */
.metacatalog { text-align: left; padding: 20px; padding-top: 1em; margin-bottom: 0px; margin-right: 20px; margin-left:20px; background-color: #B1D3EC; vertical-align: top; font-size: 85%; height:150px}


.msg { font-size: 125%; color: #FF0000; }

.navigationRow { margin: 1px; }

.navigationRow select { vertical-align: top; }

.nowrap {white-space: nowrap; }

.pageDirectoryArea { color: #000000; text-align: left;  }

.pageInfoAreaHeader { color: #0132A7; background: #B1D3EC; font-size: 110%; font-weight: bolder; text-align: left;  }

.pageMainArea { color: #000000; background: white; padding-left: 3px; }

.pageMainAreaHeader { color: #0132A7; font-size: 110%; font-weight: bolder; text-align: left; }

.pageMainAreaSubHeader { font-weight: bold; font-style: italic}

.pageNavArea { color: #FFFFFF; background: #2175bc; }

.pageNavAreaBorder { background: #0132A7; }

.pageNavAreaText {  color: #FFFFFF; text-decoration: none; font-weight: bold; background-color: #2175bc; }


/* classes for patron record display */
/* see also Web options TABLEPARAM_PATDISP, TABLEPARAM_PATFUNC, */
/* and the various BUT_PAT_ graphics options. */

.patActionsLinks { text-align: center; clear: both; padding: 10px; }

.patActionsLinks img { vertical-align: middle; }

.patDisplay { }

.patDisplayFunc {}

.patDisplayInfo { }

.patFunc { border-top: 2px solid #2175bc; border-spacing: 0; width: 100%; }

.patFunc td { padding: 5px; font-size: 90%; border-bottom: 1px solid #EBF5FC; }

.patFuncArea { border: 2px solid #2175bc; margin: 3px; }

.patFuncArea form { display: inline; }

.patFuncArea img { padding-top: 2px; } 

.patFuncAuthor { }

.patFuncBookDate { }

.patFuncBtns { color: #000000; background: #B1D3EC; }

.patFuncCallNo { }

.patFuncCancel { text-align: center; }

.patFuncDate { }

.patFuncDetails { }

.patFuncEntry { color: #000000; background: #B1D3EC; font-weight: normal;  }

.patFuncFinesDetailAmt { }

.patFuncFinesDetailDate { }

.patFuncFinesDetailDateLabel { }

.patFuncFinesDetailType { }

.patFuncFinesEntryDetail td { border-bottom: 1px solid #2175bc; }

.patFuncFinesEntryTitle { color: #000000; background: #B1D3EC; font-weight: normal;  }

.patFuncFinesTotal { }

.patFuncFinesTotalAmt { font-weight: bold; }

.patFuncFinesTotalLabel { }

.patFuncFreeze { }

.patFuncHeaders { color: #FFFFFF; background: #2175bc; padding-left: 3px; padding-right: 3px; font-size: 85%; }

.patFuncMark { }

.patFuncModifyPatInfo { }

.patFuncModifyPIN { }

.patFuncModifyPINExample { }

.patFuncNoEntries { }

.patFuncPickup { }

.patFuncPSrchBtn { }

.patFuncPSrchType { }

.patFuncRating { }

.patFuncStatus { }

.patFuncTitle { font-weight: bold; }

.patHelpLinks { border: 1px solid #2175bc; border-top: none; width: 300px; padding: 3px; margin-left: 5px; margin-right: 5px; background: #B1D3EC; }

.patHelpLinks a { text-align: right; display: block; border-bottom: 1px #EBF5FC solid; padding: 2px; }

.patImage { }

.patInfo { }

.patMainFuncs { float: left; }

.patNameAddress { text-align: left; border: 1px solid #0132A7; width: 350px; float: left; padding: 5px; }

.patSearchLinks { }

.patStatusLinks { border: 1px solid #2175bc; width: 300px; padding: 3px; margin-left: 5px; margin-right: 5px; background: #B1D3EC; float: left; }

.patStatusLinks a { text-align: left; display: block; border-bottom: 1px #EBF5FC solid; padding: 2px; }




.paymentPage { margin: 10px; }

.paymentPage h2 { font-weight: bold; }

.paymentPageFinestable { width: 80%; border: 2px solid #2175bc; }


.popupForm { font-size: 90%; }

.popupForm td { font-size: 90%; }

/* These are used in the Related Searches display in the Search Tool */
.relSearchLabel { }

.relSearchLink { }


.reqFillTimeMsg { font-style: italic; font-size: 90%; }


.reserveBibs { border: 2px solid #2175bc; }

.reserveBibs td { border-bottom: 1px solid #2175bc; }

.reserveBibs input { background-color: #B1D3EC; }


/* Resource Record display */
.resourceBib { }

.resourceBibEntry { color: #000000; background: #B1D3EC; text-align: left; }

.resourceBibHeader { color: #FFFFFF; background: #2175bc; font-weight: bold; text-align: left; }

.resourceInfoData { }

.resourceInfoLabel { background: #B1D3EC; font-style: italic; }

.resourceLicense { }

.resourceLicenseEntry { color: #000000; background: #B1D3EC; text-align: left; }

.resourceLicenseHeader { color: #FFFFFF; background: #2175bc; font-weight: bold; text-align: left; }

.resourceLinkEntry { }

.resourceResource { }

.rssChannelEntries { padding: 10px; }

.rssChannelEntry { padding: 4px; }

.rssChannelEntryDate { font-size: 70%; font-style: italic; }

.rssChannelEntryDesc { font-size: 85%; }

.rssChannelEntryHead { font-size: 85%; font-weight: bold; display: list-item; padding-bottom: 2px; }

.rssChannelImage img { border: 0; margin-top: 2px; }

.rssChannelTitle { font-weight: bold; }

.rssFeed { padding: 5px; margin: 2px; border: 1px solid #2175bc; }

.sectionHeading { font-weight: bold; }

/* control over mainmenu and opacmenu pages layout */
.sections td { vertical-align: top; padding-bottom: .5em;}
.sections td td { vertical-align: middle; }
.sections .right-column { padding-left: 2em; }

/* This is used in the patron views of holds */
.suspended td { font-size: 90%; background: #EBECF6 url(/screens/icicles.gif) repeat-x top; }

/* used for search help pages tabbed navigation */
.tabBody { background-color: white ; border: 1px solid #162A6D; padding: .7em; }
.tabs { margin-bottom: 4px; display: inherit; margin-left: 40px;}
.tabs span { border: 1px solid #162A6D; border-right: 0; border-bottom: 0; background-color:  #EBF5FC; padding-top: .2em; padding-bottom: 4px; padding-left: .7em; padding-right: .7em; white-space: nowrap;font-size: 90%; }
.tabs span.selected { background-color: #B1D3EC; border: 1px solid #162A6D; border-bottom: 1px solid #162A6D; font-size: 110%; font-weight:bold}
.tabs span.right { border-right: 1px solid #9391A2; font-size: 90%; }

.topicFeeds { clear: none; float: right; width: 60%; padding: 5px; }

.topicLinks { clear: none; float: left; padding: 5px; width: 35%; }

.topicLinks ul { padding: 5px; padding-left: 20px; margin: 2px; border: 1px solid #2175bc; }

/* This is used in the Materials Booking calendar */
.unavailable { font-weight: bold; color: black; background: #D7D7D7; }

.unpadded { margin-bottom:auto; margin-top:auto; }

.wamCalcDate{ background: #ECECEC; border: 1px silver dashed; font-size: 90%;  }

.xmlframe { width:100%; height:600px; border-width:0; }

.yourEntryWouldBeHere { }

.yourEntryWouldBeHereData { border: 2px solid #F5D9A3; }




/* Section 3: WebBridge */
/* WebBridge style names lowercased as of Release 2005.  Declare styles using these style names for Release 2005 and later */

/* body element in WebBridge forms */
.wbbody { }

/* WebBridge category headings */
.wbcategory { font-weight:bold; margin-top: 1em;}

/* contents of the WBHEADERTEXT wwwoption */
.wbheading { }

/* Entire WebBridge Resource Definition Link Display */
.wblinkdisplay { }

/* Field selectors in Link Display (except for #@LinkText#) */
.wblinkfield { }

/* #@LinkText# field selector in WB Link Display */
.wblinktext { }

/* deprecated style -- manually inserted in WB category definition */
.wbPanelCategory { color: #0132A7; }

/* Contents of  resourcelist token in webbridge forms */
.wbresourcelist { }

/* #HEADER# token in WBHEADERTEXT wwwoption */
.wbsubheading { }




















/**************************************************************************************/
/*********************** Start: Style for custom pages ********************************/
/**************************************************************************************/



/* ^^^^^^^^ Start: Table main form ^^^^^^^^^^ */

table#main_form {
margin:0;
padding:0;
background-color: white;
border-bottom:1px solid #162A6D;
border-top:1px solid #162A6D;
border-left: 1px solid #162A6D;
border-right:1px solid #162A6D;
}

table#main_form td.TopCell_1 {
 /*  background:transparent url("images/bg_gold_td_bottom_cell.gif") repeat-x top left; */
background-color: #2175bc;
font-size: 18px;
font-weight:bold;
color: white;
}

table#main_form td.TopCell_2 {
 /*  background:transparent url("images/bg_gold_td_bottom_cell.gif") repeat-x top left; */
background-color: #6CAAD9;
font-size: 10px;
font-weight: bold;
color: white;
}


table#main_form td.BottomCell_1 {
 /*  background:transparent url("images/bg_gold_td_bottom_cell.gif") repeat-x top left; */
background-color: #2175bc;
color: white;
font-weight: normal;
font-size: 10px;
}

table#main_form td.LeftCell {
  background-color: #6CAAD9;
}

#BrowseRecord {
border-bottom: 1px solid black;
}



/* ^^^^^^^^ End: Table main form ^^^^^^^^^^ */


/* ^^^^^^^^ Start: Table main form ^^^^^^^^^^ */

table#main_results_table {
}

/* ^^^^^^^^ End: Table main form ^^^^^^^^^^ */


/* ^^^^^^^^ Start: Campus links ^^^^^^^^^^ */

.campuslinks_font {
font-size: 8pt;
}

.campuslink:link {
font-weight: bold;
color: white;
text-decoration: underline;
}

.campuslink:visited {
font-weight: bold;
color: white;
text-decoration: underline;
}

.campuslink:hover {
font-weight: bold;
color: white;
text-decoration: underline;
}

/* ^^^^^^^^ End: Campus links ^^^^^^^^^^ */


/********************************************************************************************/
/********************************************************************************************/
/********************************************************************************************/
/********************************************************************************************/

#MainContentAreaShadow {
width:750px;
height: auto; /* The "height" needs to be set to "auto" to automatically accomodate varying of pages.  Use of "100%" creates display problems in IE6. */ 
overflow: hidden; /* The "overflow: hidden" prevents users from seeing run-on text. */ 
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 10px;
filter:shadow(color:gray, strength:4, direction:135);
margin-left: auto; 
margin-right: auto;
} 

#OuterTable {
border: 1px solid black;
background-color: white;
}

#Header1 {
height: 22px; 
background-color:#2175bc;

border-bottom: 1px solid black;
background-repeat:repeat;
} 

#Patron { 
position: relative;
float: left; 
left: 1px;
top: 0px;
width:450px;
height: 12px;
text-align:left; 
font-size:10px;
font-weight: bold;
color: white;
}

#HeaderLibraryWebSiteLinks { 
position: relative;
float: right; 
left: -5px;
top: -1px;
width:350px;
height: 12px;
text-align:right; 
font-size:12px;
font-weight: bold;
color: white;
}

#Header2 {
height: 45px;
border: 0px solid black;
}
  
#HeaderLogo { 
background-image: url("LOIS_logo8.gif"); 
background-repeat: no-repeat;
position: relative;
left: 160px;
top: 1px;
width:500px;
height: 35px;
float: left; 
border: 0px solid black;
}


#Header3 {
height: 75px;
border: 0px solid black;
padding-bottom: 5px;
}


/* ^^^^^^^^ Start: Horizontal Menu ^^^^^^^^^^ */

li#horizontal_menu_first_menu_item {
border-left: 1px solid black;
position: relative;
float: left;
}

ul#horizontal_menu {
position:relative;
float: left;
z-index: 2; /* The z-index is used on "#ResourceName" and "ul#horizontal_menu" to make "ul#horizontal_menu" slightly overlap on top of "#ResourceName" so that the "current" menu selection color will flow over and on top of the top border of "#ResourceName". */
top:4px; /* This value is set to accomodate the z-index overlap descripted above. */
left:30px; /* This value may be increased or decreased to center the horizontal menu tabs. */
margin:0;
padding:0;
list-style-type:none;
display:block;
text-transform: none;
font-size:13px;
font-weight:bold;
font-family: Helvetica, Arial, Verdana, sans-serif;
}


ul#horizontal_menu li{
display:block;
float:left;
margin:0;
padding:0;
}

ul#horizontal_menu li a{
display:block;
float:left;
color:white;
text-decoration:none;
text-align: center;
padding:5px 10px 0px 10px; /* top, right, bottom, left */
height:20px;
border-right:1px solid black;
border-top: 1px solid black;
border-bottom: 1px solid black;
background-color: #2175bc;
}

ul#horizontal_menu li a:hover{
/* background:transparent url("bgHOVER.gif") no-repeat top right; */
border-right:1px solid black;
background-color: #2586d7;
}

ul#horizontal_menu li a.current,
ul#horizontal_menu li a.current:hover{
position: relative;
color:black;
/* background:transparent url("bgON.gif") no-repeat top right; */
background-color: #6caad9;
border-bottom: 2px solid #6caad9;
}

/* ^^^^^^^^ End: Horizontal Menu ^^^^^^^^^^ */


#ResourceName {
position: relative;
z-index: 1;/* The z-index is used on "#ResourceName" and "ul#horizontal_menu" to make "ul#horizontal_menu" slightly overlap on top of "#ResourceName" so that the "current" menu selection color will flow over and on top of the top border of "#ResourceName". */
top: 2px;
left: 4px;
width:740px;
height: 30px;
font-size: 18px;
font-weight: bold;
text-align: center;
color: black;
border-top:1px solid black;
border-bottom:0px solid black;
border-left:1px solid black;
border-right:1px solid black;
float: left; 
background: #6caad9;
padding-top: 3px;
}

#ResourceNameDescription {
position: relative;
left: 4px;
top: 0px;
width: 740px;
height: 15px;
text-align: center;
font-size: 10px;
font-weight: bold;
color: black;
border-top:0px solid black;
border-bottom:1px solid black;
border-left:1px solid black;
border-right:1px solid black;
background: #6caad9;
float: left;
}

#InnerTable {
border: 1px solid black;
margin-bottom: 5px;
}

#InnerTableLeftColumnCell {
width: 137px;
padding: 0px;
margin: 0px;
background-color: #6caad9;
background-image: url(backgrond_border_right.gif);
background-repeat: repeat-y;
background-position: right;
}

/*********************** Start: Vertical Menu ***********************/

#vertical_menu {
position: relative;
float: left;
left: 0px;
top: 0px;
float: left; 
}

#vertical_menu div.menutitle{
color: white;
border-left: 0px solid black;
border-right: 0px solid black;
border-top: 0px solid black;
border-bottom: 1px solid black;
padding: 0px 0;
padding-top: 3px;
padding-bottom: 3px;
padding-left: 0px;
background-color: #285577;
/* background:transparent url("bgHOVER.gif") repeat-x top left; */
/*font: bold 100% 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif; */

font-size: 13px;
font-family: Helvetica, Arial, Verdana, sans-serif;
font-weight: bold;

width: 136px; 
text-align: center;
}


.shadetabs{
border: 0px solid black;
width: 131px;
margin: 0;
padding: 0;
list-style-type: none;
font-family: Helvetica, Arial, Verdana, sans-serif;
font-size: 13px;
font-weight:bold;
}

.shadetabs li a{
display: block;
padding: 3px 0;
padding-left: 5px;

padding-top: 5px;
padding-bottom: 5px;

width: 131px; 
text-decoration: none;
color: white;
background-color: #2175bc;
border-left: 0px solid black;
border-right: 0px solid black;
border-bottom: 1px solid black;
left: 0px;
}

.shadetabs li a:visited{
color: white;
}

.shadetabs li a:hover{
background-color: #2586d7;
/* background:transparent url("bgHOVER.gif") repeat-x top left; */
border-left-color: #1c64d1;
color: white;
}

.shadetabs li.selected{
position: relative;
top: 0px;
}

.shadetabs li.selected a{ /*selected main tab style */
color: black;
background-color: white;
display: block;
padding: 3px 0;
padding-left: 5px;
padding-top: 5px;
padding-bottom: 5px;
width: 131px; /*185px minus all left/right paddings and margins*/
text-decoration: none;
border-left: 0px solid black;
border-right: 1px solid white; /* This white border is extened by 1px to insure overlap of white color over LeftColumn border */
border-bottom: 1px solid black;
}

.shadetabs li.selected a:hover{ /*selected main tab style */
text-decoration: none;
background-color: white;
}

/* The following .shadetabs li.selected a:visited style was added because menu link the text for the visited link labels were rendering as white, the same color as the background color for selected items on IE 6. Change date: 9-13-07. */
.shadetabs li.selected a:visited{
color: black; 
}

.contentstyle{
border: 1px solid black;
width: 450px;
margin-bottom: 1em; padding: 10px;
}

/*********************** End: Vertical Menu ***********************/

#ContentAreaHeader { 
position: relative;
float: left;
left: 15px;
top: 5px;
width:450px;
height: 20px;
border:0px solid black;
text-align: center;
font-size: 16px;
font-weight: bold;
color: black;
}

#ContentAreaHeaderInstructions { 
position: relative;
float: left;
left: 15px;
top: 20px;
width:450px;
height:100%; /* IE6: treaded as min-height*/
min-height:100%; /* real browsers */
border:0px solid black;
text-align: center;
font-size: 12px;
font-weight: bold;
color: black;
}

#SearchForm { 
position: relative;
float: left;
left: 15px;
top: 40px;
width:560px;
height:100%; /* IE6: treaded as min-height*/
min-height:100%; /* real browsers */
overflow: hidden; 
border:1px solid black;
text-align: left;
font-weight: bold;
color: black;
margin-bottom: 100px; /* Two consecutive div pushed latter div content out of container.  Margin-bottom of first div and top settings were adjusted to create white space below the top div for the bottom div to overlap on top of.  This then pulled the second div's content back within the container. */
}

#SearchFormHelp { 
position: relative;
float: left;
left: 15px;
top: -10px; /* Two consecutive div pushed latter div content out of container.  Margin-bottom of first div and top settings were adjusted to create white space below the top div for the bottom div to overlap on top of.  This then pulled the second div's content back within the container. */
width:560px;
height:100%; /* IE6: treaded as min-height*/
min-height:100%; /* real browsers */
overflow: hidden; 
border:1px solid black;
text-align: left;
font-weight: bold;
color: black;
}

/* ----- Start: Footer ----- */

#Footer {
height: 18px; 
color: white;
text-align:center;
background-color:#2175bc;
background:transparent url("LOIS_footer_image.gif") repeat-x top left; 
border-top:1px solid black;
font-size:10px;
font-weight: bold;
} 

/* ----- Start: Misc. ----- */

#BibTable {
}

#EreservesOuterTable {
border: 1px solid black;
background-color: white;
padding-right: 10px;}

.spellcheck { 
font-size: 125%; color: #FF0000; 
font-weight: bold;
}

.bibimage {
margin-right: 15px; 
margin-left: 5px; 
margin-bottom: 10px;
}
.bibimage img {
    max-height:180px;
}

div#e-resource {
padding-bottom: 15px; 
}

div#e-resource a {
padding-bottom: 15px; 
color:#FF0000;
font-weight: bold;
}
/* --- requesting stuff march 2016: pverify, request result etc --- */
#req-form-container {padding:0 20px; width:90%; max-width:700px; margin:0 auto;}
#req-form-container h1 {font-size:14px;}
#req-form-container fieldset {border:none;}
#req-form-container legend {display:block; font-size:18px; margin-top:1em; border:2px solid #f2f2f2; width:100%; background:#f5f5f5; padding:4px 2px; border-radius: 4px;}
#extpatid, #extpatpw {width:100%; display:block; font-size:14px;}
#loc-container input {float:left;}
.hidden {display:none;}
.ua-help-area p {margin-top:0;}
.ua-container {width:80%; position:relative;}
.ua-container button {position:absolute; right:0;}
.ua-help {width:40%; float:right;}
#loc-fields label {display:block; margin-bottom:4px; line-height: 1.5em;}
#req-form-container div {clear:none;}
#ua-text-fields {float:left; width:50%;}
#req-form-container .highlighted, #if-multi-items {background: #f5f5f5;}
.ua-help, #if-multi-items { border:2px solid #ccc; border-radius:4px; padding: 1em;}
#req-form-container .error {background:#FFFFBE; font-weight:bold; border:1px solid #000;}
.error {display:inline-block; padding:.5em 1em; margin:4px 0;}
.show-help {background:transparent; border:none; font-style:italic; cursor: pointer;}
#req-form-container #submit-anyway {position:static; border:none;background:transparent; font-style:italic; text-decoration:underline; float:right;}
/* #req-form-container input[type=submit] {font-size:18px; background-image:url(https://www.library.losrios.edu/resources/link-icons/check-smallblack.png); background-repeat:no-repeat; padding-left:32px; border-radius:18px; cursor: pointer; background-position:10px center;}
#req-form-container input[type=submit]:hover {background-color:#ddd; border-color:#ddd;} */
#success-message table {display:none;}
abbr {text-decoration: none;}
.bibItems {display:none;}
