<!-- begin toplogo_loggedin.html file -->
<!-- 2006LE Version, set from 26 January, 2006 -->
<!-- This file last changed: 5 October, 2004 -->

<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="pageNavAreaBorder" colspan="2"><img src="/screens/spacer.gif" height="2" width="1" alt="" /></td>
</tr>
<tr valign="middle">
<td align="left" class="pageNavArea">
<!--Beginning navigation bar at the top of the page-->
<!--{logout}-->

<!--{patronrecord}-->

<!--{startover}-->

<a href="/screens/help_index.html" onclick="return replace_or_redraw('/screens/help_index.html')"><img src="/screens/help.gif" width="80" height="40" alt="Help" border="0" /></a>
<a href="/search"><img src="/screens/newsrch.gif" onclick="return replace_or_redraw('/search')" width="80" height="40" alt="New Search" border="0" /></a>
<!--End of the top navigation bar-->
</td>
<td width="209" align="right" class="pageNavArea">
<!-- Beginning of library logo area -->
<a href="/"><img src="/screens/logo.gif" width="166" height="25" border="0" alt="- Innovative Interfaces, Inc. -" /></a>&nbsp;
<!-- End of library logo area -->
</td>
</tr>
</table>
<!-- end of toplogo_loggedin.html file -->
