<!-- begin toplogo.html file -->

<!-- Note: It appears that the the following opening tags DO NOT need to be placed in the toplogo.html file because the system automatically inserts them.  Those tags that will be inserted include the opening and closing tags for head, meta, title, and style link.  It will also insert just the opening tags for html and body.  The closing tags for body and html will automatically be inserted into the botlogo.html.  -->
<script type="text/javascript">
	// if user gets to insecure page, redirecct to ssl
if (location.hostname === 'lois.losrios.edu') {
	var http = 'http://lois.losrios.edu';
	var https = 'https://lasiii.losrios.edu';
	if (location.port === '2082') { // staging server
		location.href = location.href.replace(http + ':2082', https + ':444');
	}
	else {
		if (location.port !== '211') { // z39.50 doesn't seem to work over ssl
			location.href = location.href.replace(http, https);
		}
	}
}
</script>
<div align="center">

<table id="OuterTable" align="center" width="750"  border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td id="Header1" height="15">
		<div id="HeaderLibraryWebSiteLinks">Library Home Pages: 
			<a href="http://www.arc.losrios.edu/arclibrary.htm" class="campuslink">ARC</a>
			| <a href="https://www.crc.losrios.edu/library" class="campuslink">CRC</a>
			| <a href="http://www.flc.losrios.edu/edc-library" class="campuslink">EDC</a>
			| <a href="http://www.flc.losrios.edu/libraries" class="campuslink">FLC</a>
			| <a href="http://www.scc.losrios.edu/library/" class="campuslink">SCC</a>
		</div>

	</td>
  </tr>
  <tr>
    <td id="Header2">
	<div id="HeaderLogo"></div>
	</td>
  </tr>

<tr>
<td>&nbsp;
<!--{logout}-->


<!-- Note: The closing tags for this page, including the closing tags for the table, are located in the botlogo.html page. -->

<!-- end toplogo.html file -->


