<!--{toplogo}-->

<body>

<!--Begin the main content table-->
<table width="90%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr valign="top" class="pageMainArea">
<td class="pageMainArea">&nbsp;
<!--Beginning main page content-->

<span class="pageMainAreaHeader">Saved Records</span> 
<br />
<br />
<br />

<!--{ifexport}-->
<!--{export}-->
View and Export your saved records
<!--{xif}-->
<!--{ifrequestmulti}-->

<!-- The following button to Batch Request has been disabled because there is a known bug
that Innovative needs to address in an upcoming release.

	<li>
	!--{requestmulti}--
	View and Request your saved records 
	</li>
	!--{xif}--
 -->

<br />
<br />
<br />
<br />
<!--{prevscreen}-->
<!--{clearmarked}-->
<!--{startover}-->
<!--End of main page content-->
</td>
</tr>
</table>
<!--End the main content table-->

<!--{botlogo}-->

